# Git
.git
.gitignore

# Node
npm-debug.log
**/node_modules
**/dist
**/.husky
**/tests
**/coverage
**/*.spec.ts

# Docker
docker-compose*.yml
Dockerfile
.conf/*/conf.env

# Python
**/__pycache__/
**/*.pyc
.env/
.venv/
venv/

#IntelliJ
.idea
