{% autoescape off %}
<p style="font-size: 14pt">
  <strong>Hello {{ user.username | capfirst }}!</strong>
</p>

<p style="font-size: 11pt">
  We receive a request to reset your password! Click on the link below to
  proceed to the change :
</p>

<p style="font-size: 11pt">
  <a href="{{ link }}" target="_blank" rel="noopener">{{ link }}</a>
</p>

<p style="font-size: 11pt">
  If you did not make this request, please ignore this email.
</p>

<p style="font-size: 11pt">The Tout Doux Team</p>
{% endautoescape %}
